
<!-- <router-outlet></router-outlet> -->
{{ MyForm.value | json }}
<form [formGroup]="MyForm">
    <div class="row"  *ngIf="showMsg">
        <div class="col-md-6 offset-md-2">
          <p class="alert alert-success">
              <strong>Data inserted successfully!</strong> Now get lost!
          </p>
        </div>
      </div>
        <div class="container-fluid"> 
            <h3>Form</h3>
          <div class="form-group">
            <label>Name</label>
            <input type="text" formControlName="name" class="form-control" placeholder="Enter name">
          </div>
      
          <div class="form-group">
              <label>Email address</label>
              <input type="email" formControlName="email" class="form-control" placeholder="name@example.com">
          </div>
      
          <div class="form-group">
            <label>Password</label>
            <input type="password" formControlName="password" class="form-control" placeholder="Enter password">
          </div>
      
       
          <!-- <div class="form-check">
            <input class="form-check-input" formControlName="subscribe" type="checkbox" (change)="subs($event)" >
            <label class="form-check-label">Subscribe</label>
          </div> -->
    

          <h3>Hobbies</h3>
          <div class="form-check form-check-inline">
              <input class="form-check-input" formControlName="subscribe" (change)="subs($event, 'Sleeping')"  value="Sleeping" type="checkbox"  >
              <label class="form-check-label">Sleeping</label>
          </div>

          <div class="form-check form-check-inline">
              <input class="form-check-input" formControlName="subscribe" (change)="subs($event, 'Trekking')"  value="Trekking" type="checkbox" >
              <label class="form-check-label">Trekking</label>
          </div>
    
          <div class="form-check form-check-inline">
              <input class="form-check-input" formControlName="subscribe" (change)="subs($event, 'Movies')"  value="Movies" type="checkbox"  >
              <label class="form-check-label">Watching Movies</label>
          </div>

          <div class="form-check form-check-inline">
              <input class="form-check-input" formControlName="subscribe" (change)="subs($event,'Gyming')"  value="Gyming" type="checkbox"  >
              <label class="form-check-label">Gyming</label>
          </div>
    

          <br>
          <h3>Gender</h3>
          <div class="form-check form-check-inline">
              <input class="form-check-input" formControlName="gender" type="radio" value="male">
              <label class="form-check-label">Male</label>
          </div>
      
      
          <div class="form-check form-check-inline">
            <input class="form-check-input" formControlName="gender" type="radio" value="female">
            <label class="form-check-label">Female</label>
          </div>
          <br>
         
          <div class="form-group">
              <label>Please select any one</label>
              <select class="form-control" formControlName="dropdowneg">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
              </select>
          </div>    
      
          <div class="custom-file">
              <input type="file" formControlName="filetype" class="custom-file-input">
              <label class="custom-file-label">Choose image</label>
          </div>
          <br><br>
          <button type="submit" class="btn btn-primary btn-md" (click)="here(MyForm.value)">Submit</button> &nbsp;
          <button routerLink="/list" class="btn btn-danger btn-md" routerLinkActive="active" >Back</button>
      
        </div>
      </form>
      
      