
<!-- <router-outlet></router-outlet> -->

<!-- <form [formGroup]="MyForm">
  <div class="container-fluid"> 
      <h3>Form</h3>
    <div class="form-group">
      <label>Name</label>
      <input type="text" formControlName="name" class="form-control" placeholder="Enter name">
    </div>

    <div class="form-group">
        <label>Email address</label>
        <input type="email" formControlName="email" class="form-control" placeholder="name@example.com">
    </div>

    <div class="form-group">
      <label>Password</label>
      <input type="password" formControlName="password" class="form-control" placeholder="Enter password">
    </div>

    <div class="form-check">
      <input class="form-check-input" formControlName="subscribe" type="checkbox" >
      <label class="form-check-label">Subscribe</label>
    </div>
    <br>

    <div class="form-check form-check-inline">
      <input class="form-check-input" formControlName="gender" type="radio" value="male">
      <label class="form-check-label">Male</label>
    </div>


    <div class="form-check form-check-inline">
      <input class="form-check-input" formControlName="gender" type="radio" value="female">
      <label class="form-check-label">Female</label>
    </div>
    <br>
   
    <div class="form-group">
        <label>Please select any one</label>
        <select class="form-control" formControlName="dropdowneg">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>
    </div>    

    <div class="custom-file">
        <input type="file" formControlName="filetype" class="custom-file-input">
        <label class="custom-file-label">Choose image</label>
    </div>
    <br><br>
    <button type="submit" class="btn btn-primary" (click)="here()">Submit</button>

  </div>
</form> -->


<router-outlet></router-outlet>
<!-- <app-form></app-form> -->

