
<button routerLink="/add" class="btn btn-primary" routerLinkActive="active" style="margin-left: 5%;margin-top: 2%;">Add Data</button>
<br><br>
<div>
    <table>
    <tr>
        <th>Id</th>
        <th>Name</th> 
        <th>Email</th>
        <th>Action</th>
      </tr>
      <tr *ngFor = "let d of data">
        <td>{{d.id}}</td>
        <td>{{d.name}}</td> 
        <td>{{d.email}}</td>
        <td>
            <!-- <button class="btn btn-secondary btn-sm" (click)="edit(d)">Edit</button> &nbsp;  -->
            <button class="btn btn-secondary btn-sm" [routerLink]="['/edit', d.id]">Edit</button> &nbsp; 
            <button class="btn btn-secondary btn-sm" data-toggle="modal" (click)="deleteDataId(d.id)" data-target="#exampleModal1" >Delete</button>
        </td>
      </tr>
    </table>
</div>

<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModal1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            Are you sure?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            <button type="button" (click)="deleteData()" data-dismiss="modal" class="btn btn-primary">Yes</button>
        </div>
        </div>
    </div>
</div>

 